@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: clip;
}

@keyframes backgroundChange {
  0% {
    background-position: 0% 50%;
    background-position-x: 0%;
    background-position-y: 50%;
  }

  50% {
    background-position: 100% 50%;
    background-position-x: 100%;
    background-position-y: 50%;
  }
  100% {
    background-position: 0% 50%;
    background-position-x: 0%;
    background-position-y: 50%;
  }
}
