@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
} */

/* @keyframes colorChange {
  0% {
    background-image: linear-gradient(to bottom right, #800080, #9a4efb);
    opacity: 0.6;
  }
  45% {
    background-image: linear-gradient(to bottom right, #800080, #9a4efb);
    opacity: 1;
  }
  55% {
    background-image: linear-gradient(to bottom right, #800080, #9a4efb);
    opacity: 0.7;
  }
  56% {
    background-image: linear-gradient(to top left, #f5b042, red);
    opacity: 0.5;
  }
  100% {
    background-image: linear-gradient(to top left, #f5b042, red);
    opacity: 1;
  }
} */

/* @keyframes colorChange {
  0% {
    background-image: linear-gradient(
      to bottom right,
      #800080,
      #9a4efb
    ); 
  }
  45% {
    background-image: linear-gradient(
      to bottom right,
      #800080,
      #9a4efb
    ); 
  }
  55% {
    background-image: linear-gradient(
      to bottom right,
      #800080,
      #9a4efb
    ); 
  }
  60% {
    background-image: linear-gradient(to bottom right, #800080cc, #9a4efbcc),
      
        linear-gradient(to top left, #f5b04200, #f5d14200);
  }
  65% {
    background-image: linear-gradient(to top left, #f5b042cc, #f5d142cc),
      
        linear-gradient(to bottom right, #80008000, #9a4efb00); 
  }
  100% {
    background-image: linear-gradient(
      to top left,
      #f5b042,
      #f5d142
    ); 
  }
} */

@keyframes backgroundChange {
  0% {
    background-position: 0% 50%;
    background-position-x: 0%;
    background-position-y: 50%;
  }

  50% {
    background-position: 100% 50%;
    background-position-x: 100%;
    background-position-y: 50%;
  }
  100% {
    background-position: 0% 50%;
    background-position-x: 0%;
    background-position-y: 50%;
  }
}
